@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat';
  letter-spacing: 1px;
}

a, div {
  font-size: 24px;
  font-weight: 500;
}

button {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 0px 10px;
  cursor: pointer;
}